.container {
	box-sizing: border-box;
	max-width: 1366px;
	padding: 0px 187px;
	margin: auto;
}

.uiux {
	box-sizing: border-box;
	display: flex;
	text-align: center;
	height: 76px;
	padding: 25px 0px;
	gap: 3px;
	font-size: 14px;
	line-height: 21px;
}

.icons {
	margin-top: 2px;
	font-size: 12px;
}

.goback {
	display: none;
}

@media only screen and (max-width: 415px) {
	.container {
		box-sizing: border-box;
		max-width: 1366px;
		padding: 0px 5%;
		margin: auto;
	}

	.uiux {
		margin-top: 26px;
	}

	.goback {
		display: flex;
		align-items: center;
		margin: 0px 0px 20px;
		gap: 3px;
		color: #800080;
		font-weight: bold;
	}
}