.navbar {
	display: flex;
	max-width: 1366px;
	margin: auto;
	height: 73px;
	padding: 6px 5% 4.03px;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.logo {
	width: 160px;
}

.navbardiv {
	display: flex;
	gap: 28px;
	color: #80008040;
	font-weight: bold;
	font-size: 18px;
	box-sizing: border-box;
}

.navbardiv > div:nth-last-child(1) {
	color: #800080;
}

.icon {
	display: flex;
	align-items: center;
	gap: 5px;
}

.user {
	font-size: 20px;
}

.arrow {
	font-size: 20px;
}

@media only screen and (max-width: 415px) {
	.navbar {
		display: flex;
		margin: 0px 2%;
		height: 73px;
		padding: 62px 0px 4.03px;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
	}

	.navbardiv > div:nth-child(1) {
		display: none;
	}

	.navbardiv > div:nth-child(2) {
		display: none;
	}

	.navbardiv > div:nth-last-child(1) {
		background-color: #800080;
		margin-right: 10px;
		padding: 5px 10px;
		color: white;
		border-radius: 10px;
	}

	.user {
		display: none;
	}
}
